html, body { height:100%; }
body {
	padding:0;
	margin:0;
	background:#333;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	color:#eee;
	font-family: 'Advent Pro', sans-serif;
	font-size:100%;
}
h1{
	margin-left: 10px;
	padding-left: 40px;
	float: left;
	font-size: 1.3em;
	text-shadow: 0 1px 0 #000;
	background-image: url(images/mini-bot.gif);
	background-repeat: no-repeat;
}
/*#header {
	width: 100%;
	min-width:320px;
	min-height:10%;
	overflow:visible;
	
} */
#wrapper {
	width:100%;
	min-width:320px;
	height:90%;
	background:pink;
}

#swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow:hidden;
}

#swipeview-slider img {
	display:block;
	-webkit-border-radius:2px;
	-webkit-transition-duration:.4s;
	-webkit-transition-property:opacity;
	opacity:1;
	pointer-events:none;
	width:100%;
    max-width:480px; /* you can use % */
    height: auto;
}

#swipeview-slider span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:0 0 20px 0;
	display:block;
	background:rgba(51,51,51,0.75);
	font-size:1.3em;
	text-align:center;
	text-shadow:0 1px 0 #000;
	-webkit-transition-duration:.3s;
	-webkit-transition-property:-webkit-transform;
	-webkit-transform:translate3d(0,1%,0);
}

#swipeview-slider .swipeview-active span {
	-webkit-transform:translate3d(0,0,0);
}

#wrapper > div > .swipeview-loading {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
		-webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
	background-position:50% 50%, 50% 50%;
	background-size:200px 140px, 210px 150px;
	background-repeat:no-repeat;
}

#wrapper > div > .swipeview-loading img,
#swipeview-slider img.loading {
	-webkit-transition-duration:0;
	opacity:0;
}

#wrapper > div > .swipeview-loading span {
	-webkit-transition-duration:0;
	-webkit-transform:translate3d(0,1%,0);
}


	/* nav-wrap */
	#nav-wrap {
		position:absolute;
		top: 7px;
		right: 7px;
		font-size:1.2em;
	}

	/* menu icon */
	#menu-icon {
		color: #000;
		width: 150px;
		height: 30px;
		background: #ecebeb url(images/menu-icon.png) no-repeat 2px center;
		padding: 8px 10px 0 42px;
		cursor: pointer;
		display: block; /* show menu icon */
	}
	#menu-icon:hover {
		background-color: #f8f8f8;
	}
	#menu-icon.active {
		background-color: #bbb;
	}
	
	
	#nav {
		position: absolute;
		width: 192px;
		z-index: 10000;
		padding: 5px;
		background: #f8f8f8;
		display: none; 
	}
	#nav li {
		list-style-type: none;
		clear: both;
		float: none;
		margin: 5px 0 5px 10px;
	}
	#nav a, 
	#nav ul a {
		font: inherit;
		text-decoration: none;
		background: none;
		display: inline;
		padding: 0;
		color: #666;
		border: none;
	}
	#nav a:hover, 
	#nav ul a:hover {
		background: none;
		color: #000;
	}
	
	/* dropdown */
	#nav ul {
		padding: 0;
		margin: 0;
		width: auto;
		position: static;
		display: block;
		border: none;
		background: inherit;
	}
	
@media only screen and (max-device-width: 360px) {
	h1{
		padding-left: 0;
		float: none;
		text-align:center;
	}
	#nav-wrap {
		position:relative;
		float:none;
		margin-left: 60px;
		margin-top: -10px;
		font-size:1.2em;
	}
	#swipeview-slider img {
		width:60%;
	}
	#swipeview-slider span {
		bottom:35px;
	}
}



